AI-Online-Travel-Agent/Online Travel Agent-Weather Tools (Nominatim + Open_Meteo).json
{
  "name": "Online Travel Agent-Weather Tools (Nominatim + Open_Meteo)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "weather-tool",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "d0a283a3-9cb5-4cca-9a63-ae424d3bd7f5",
      "name": "Webhook",
      "webhookId": "068749b9-7e4d-4d26-8d6f-83a850a52bfe"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"response\": \"Current weather in {{ $('Get Coordinates').item.json[0].name }}: Temperature is {{ $('Get Weather').item.json.current_weather.temperature }}°F, wind speed {{ $('Get Weather').item.json.current_weather.windspeed }} mph.\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        624,
        0
      ],
      "id": "636692a4-bbc9-4b20-9814-d78087afb371",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "url": "https://nominatim.openstreetmap.org/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.body.args.city }}"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "TravelVoiceAgent/1.0"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "6582d87d-9511-4e34-a4d2-c7cbcdb097d5",
      "name": "Get Coordinates",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=https://api.open-meteo.com/v1/forecast",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "latitude",
              "value": "={{ $json.lat }}"
            },
            {
              "name": "longitude",
              "value": "={{ $json.lon }}"
            },
            {
              "name": "current_weather",
              "value": "true"
            },
            {
              "name": "temperature_unit",
              "value": "fahrenheit"
            },
            {
              "name": "wind_speed_unit",
              "value": "mph"
            },
            {
              "name": "timezone",
              "value": "America/New_York"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        0
      ],
      "id": "7f7fcd91-289b-4f12-abd4-f71a1237f0d0",
      "name": "Get Weather"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get Coordinates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Coordinates": {
      "main": [
        [
          {
            "node": "Get Weather",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Weather": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a08b94d1-7b79-4e95-b9af-d26307195996",
  "meta": {
    "instanceId": "b44787747fde1c27937c52cc409f1577af465d3af0731bbd57feab4e23212d82"
  },
  "id": "uvDBgPN7nvI5fJCi",
  "tags": []
}